<div class="container">
  <h2>Usuarios</h2>
  <p>Cantidad: {{ usuarios.length }}</p>

  <div class="text-end">
    <button class="btn btn-primary" (click)="abrirModal()">Agregar Usuario</button>
  </div>
</div>
<table class="table">
  <thead>
    <th>Id</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Estado</th>
    <th>Acciones</th>
  </thead>
  <tbody>
    <tr *ngFor="let u of usuarios">
      <td>{{u.id}}</td>
      <td>{{u.nombre}}</td>
      <td>{{u.apellido}}</td>
      <td>
        <span class="badge" [ngClass]="u.estado ? 'bg-success' : 'bg-danger'">
          {{ u.estado ? 'Activo' : 'Inactivo' }}
        </span>
      </td>
      <td>
        <button class="btn btn-sm " [ngClass]="u.estado ? 'btn-danger' : 'btn-success'" (click)="DesactivarUsuario(u)">
          {{u.estado ? 'Desactivar' : 'Activar'}}
        </button>
        <button class="btn btn-sm btn-primary" (click)="abrirModalEdicion(u)">Editar</button>
      </td>
    </tr>
  </tbody>
</table>


<app-usuarios-modal
  *ngIf="mostrarModal"
  [usuarioEditar]="usuarioSeleccionado"
  (cerrar)="cerrarModal()"
  (usuarioCreado)="recargarUsuarios()">
</app-usuarios-modal>
